.images {
  display: flex;
  justify-content: space-around;
  img {
    width: 40%;
    height: auto;
  }
}

.info {
  border: 1px solid #ccc;
  border-radius: 3px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  margin: 10px;
}
